header{
    background-color:  dimgray;
    font-size: 400%;
    text-align: center;
    font-family: sans-serif;
    color: azure;
}
body{
    background-color: darkgray;
    color: azure;
    font-family: sans-serif ;}

#cim1{
    
}
#cim2{

}
h2{
    color: lavender;
}

h4{
    margin-left: 15px;
}

.fels{
    margin-left: 110px;
}