header{
    background-color:  dimgray;
    font-size: 400%;
    text-align: center;
    font-family: sans-serif;
    color: azure;
}
body{
    background-color: darkgray;
    color: azure;
    font-family: sans-serif ;
    text-align: left;
}
    


img{
    border-radius: 20px;
    border: 5px solid lightgray;
}

.fels{
    margin-left: 90px;
    background-color: grey;
    border-radius: 20px;
    border: 5px solid lightgray;
    
    
}
#cim{
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    border: 5px solid lightgrey;
    margin: auto;
}

#cimmarg{
    margin-top: 10px;
    margin-bottom: 10px; 
}