header{
    background-color:  dimgray;
    font-size: 400%;
    text-align: center;
    font-family: sans-serif;
    color: azure;
}
body{
    background-color: darkgray;
    color: azure;
    font-family: sans-serif ;

}
    



h2{
    color: lavender;
}



.fels{
    margin-left: 90px;
    background-color: grey;
    border-radius: 20px;
    
    
}
